.boxMain {
	width: 100%;
	background-color: #ffffff;
	height: auto;
	padding: 20px;
	box-shadow: 0px 0 30px 10px #f0f0f0;
	margin-bottom: 20px;
}

.shirtText {
	width: 100%;
	font-size: 20px;
	color: #30302e;
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
}

.priceText {
	width: 100%;
	font-size: 16px;
	color: #f26522;
	text-align: center;
	margin: 0px;
}

.price {
	color: #262626
}