.box_main {
	width: 100%;
	background-color: #ffffff;
	height: auto;
	padding: 20px;
	/*тут проблема зі стилями вони застосовуються по ієрархії*/
	/*padding: 120px;*/
	box-shadow: 0px 0 30px 10px #f0f0f0;
	margin-bottom: 20px;
}

.shirt_text {
	width: 100%;
	font-size: 20px;
	color: #30302e;
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
}

.price_text {
	width: 100%;
	font-size: 16px;
	color: #f26522;
	text-align: center;
	margin: 0px;
}

.tshirt_img {
	width: 100%;
	text-align: center;
	margin: 50px 0px;
	min-height: 370px;
}

.btn_main {
	width: 100%;
	display: flex;
}

.buy_bt {
	float: left;
	width: 100%;
}

.buy_bt a {
	width: 100%;
	font-size: 16px;
	color: #f26522;
	background-color: transparent;
	text-align: right;
	font-weight: bold;
}

.buy_bt a:hover {
	background-color: transparent;
	color: #262626;
}

.seemore_bt {
	width: 100%;
	float: right;
	text-align: right;
}

.seemore_bt a {
	width: 100%;
	font-size: 16px;
	color: #262626;
	background-color: transparent;
	text-align: right;
}

.seemore_bt a:hover {
	background-color: transparent;
	color: #f26522;
}