@import 'assets/css/animate.min.css';
@import 'assets/css/default-skin.css';
@import 'assets/css/font-awesome.min.css';
@import 'assets/css/icomoon.css';
@import 'assets/css/jquery.fancybox.min.css';
@import 'assets/css/jquery.mCustomScrollbar.min.css';
@import 'assets/css/jquery-ui.css';
@import 'assets/css/meanmenu.css';
@import 'assets/css/nice-select.css';
@import 'assets/css/owl.carousel.min.css';
@import 'assets/css/slick.css';
@import 'assets/css/bootstrap-grid.css';
@import 'assets/css/bootstrap-reboot.css';
@import 'assets/css/normalize.css';
@import 'assets/css/responsive.css';
@import 'assets/css/style.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
